body {
  background-color: #4CAF50;
  font-family: 'Roboto Condensed', sans-serif; }

.container {
  padding: 20px;
  margin: 50px auto;
  border-radius: 30px; }

@media (min-width: 768px) {
  .container {
    width: 750px;
    background-color: white; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

header h1 {
  color: #000000FF;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 300%; }

header p {
  text-align: center;
  font-size: 30px; }

.picone {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  display: block;
  border-radius: 30px; }

blockquote {
  padding: 30px;
  text-align: center;
  font-size: 200%;
  font-weight: lighter; }

.title {
  text-align: center;
  font-size: 200%; }

.underline {
  text-align: center;
  width: 200px;
  height: 5px;
  display: block;
  margin: auto;
  background-color: #4CAF50; }

.bio-content {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: lighter;
  line-height: 20px; }

footer {
  margin-top: 20px; }
  footer p {
    text-align: center;
    color: #4CAF50;
    font-size: 200%; }

.center {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: block; }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

div .form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none; }
