body {
    background-color: aqua;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    padding: 20px;
    margin: 50px auto;
    border-radius: 30px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        background-color: white;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {

}

header h1 {
    color: Black;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 300%;
}

header p {
    text-align: center;
    font-size: 30px;
}

.picone {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30px;
}

blockquote {
    padding: 30px;
    text-align: center;
    font-size: 200%;
    font-weight: lighter;
}

.title {
    text-align: center;
    font-size: 200%;
}

.underline {
    text-align: center;
    width: 200px;
    height: 5px;
    display: block;
    margin: auto;
    background-color: aqua;
}


footer p {
    text-align: center;
    color: aqua;
    font-size: 200%;
}